@tp-main-lf:3;
@tp-main-rg:2;
.tp-main{
  width: 90%;
  margin: 2% auto 0;
  height: 70%;
  display: flex;
  .tp-main-lf{
    flex: @tp-main-lf;
    display: flex;
    flex-direction:column;
    height: 100%;
    width: 100%;
    .block{
      flex: 1;
    }
    .tab-content{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction:column;
    }
    .tp-main-lf-info{
      flex: 7;
      height: 100%;
      padding: 5% 15% 5% 5%;
      display: flex;
      //flex-direction: column;
      .tp-tb-content{
        width: 100%;
        height: 100%;
        display: flex;
        .info-box{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .info-box-border{
          }
        }
        .tp-card-lf{
          flex: @tp-main-lf;
          .info-box{
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
            .info-box-border{
              padding-left: 1rem;
              vertical-align: middle;
              font-size: 1rem;
              box-sizing: border-box;
              word-wrap:break-word;
              color: #000000;
              span{
                display: inline-table;
                min-width: 2.5rem;
                text-indent:.2rem;
              }
              b{
                font-weight: normal;
              }
            }
          }
        }
        .tp-card-rg{
          flex: @tp-main-rg;
          width: 100%;
          height: 100%;
          .info-box{
            width: 100%;
            height: 100%;;
            >div{
              img{
                width: 80%;
              }
            }
          }
        }
      }

    }
  }
  .tp-main-rg{
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction:column;
    .tp-btn-info.active{
      .static{
        display: none;
      }
      .dynamic{
        display: table-cell;
      }
    }
    .tp-btn-box{
      position:absolute;
      top: 30%;
      left: 11%;
      margin: auto;
      width: 78%;
      height: 40%;
      .tab-a{
        width: 100%;
        height: 100%;
        display: inline-table;
        span{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: #99d7f1;
          text-shadow: 0px 0px 5px #807878;
          font-size: 1.6rem;
        }
        b{
          font-weight: normal;
          font-size: 1.4rem;
          margin-right: 2px;
          vertical-align: baseline;

        }
      }
    }
    .tp-btn-box.active{
      .tab-a{
        text-decoration: none;
        color: #fff;
        span{
          color: #fff;
          text-shadow: 0px 0px 20px #9a9a9a;
        }
        b{
        }
      }
    }
    .block{
      flex: 1;
    }
    .tp-btn-level-1{
      flex: 5;
      height: 100%;
      display: flex;
      .tp-btn-1{
        flex: 5;
        height: 100%;
        text-align: center;
        //background: url("../image/btn-1.png") no-repeat;
        //background-size: cover;
        //.tp-btn-info {
        //  height: 100%;
        //  width: 100%;
        //  display: inline-table;
        //  text-align: center;
        //  img {
        //    display: table-cell;
        //    vertical-align: middle;
        //    text-align: center;
        //    height: 100%;
        //    margin: auto;
        //  }
        //}
      }
      .tp-btn-other-1{
        flex: 4;

      }
    }
    .tp-btn-level-2{
      flex: 4;
      height: 100%;
      display: flex;
      .block{
        flex: 1;
      }
      .tp-btn-2{
        flex: 2;
        height: 100%;
      }
    }
    .tp-btn-level-3{
      flex: 2;
      display: flex;
      height: 100%;
      .tp-btn-3{
        flex: 3;
        height: 100%;
        .tp-btn-box{
          position:absolute;
          top: 30%;
          left: 9%;
          margin: auto;
          width: 82%;
          height: 40%;
          .tab-a{
            text-decoration: none;
            span{
              font-size: 1.2rem;
            }
          }
        }
      }
      .block{
        flex: 1;
      }
      .tp-btn-other-2{
        flex: 2;
        background: url("../image/q2.png") no-repeat;
        background-size: auto 100%;
      }
    }
    .tp-btn-info {
      height: 100%;
      width: 100%;
      display: inline-table;
      text-align: center;
      position: relative;
      img {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        margin: auto;
      }
      .static{
        display: table-cell;
      }
      .dynamic{
        display: none;
      }
    }

  }
}
#user-code.User-code{
  background: url("../image/card.png") no-repeat;
  background-size: 100% 100%;
  .tp-card-lf{
    width: 60%;
    flex: 3;
    .info-box{
      width: 100%;
      .info-box-border{
        width: 100%;
      }
    }
  }
}
#ctrl-code.Ctrl-code{
  background: url('../image/ctrl-box.png') no-repeat;
  background-size: 100% 100%;
  padding: 5%;
  flex: 10;
  .tp-card-rg {
    flex: 3;
  }
  .info-box div{
    font-size: .9rem;
    letter-spacing: 1px;
    span{
      display: inline-block;
      width: 5rem;
    }
  }
  .photo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      display: table-cell;
      vertical-align: middle;
      img{
        width: 10rem;
      }
    }
  }
  .tp-card-lf{
    .info-box{
      justify-content: flex-start;
      span{
        color: #030303;
      }
      b{
        color: #000;
        font-weight: normal;
      }
      .select-area{
        text-align: center;
        .select-area-btn{
          display: inline-block;
          width: 160px;
          height: 2.5rem;
          background: url(../image/QR-btn.png) no-repeat;
          background-size: 100% 2.5rem;
          text-align: center;
          font-size: .9rem;
          color: #fff;
          line-height: 2.5rem;
          text-shadow: 0px 0px 25px #2e9eff;
          letter-spacing: .1rem;
        }
      }
    }
  }
  .remark-txt{
    .input-box-1-notice{
      right: 10px;
      top:-4px;
    }
  }
  .remark-txt.focus{
    .input-box-1-notice{
      //right: 10px;
      //top:6px;
    }
  }
}
#ctrl-takephotos.Ctrl-Takephotos{
  background: url("../image/ctrl-takephotos.png") no-repeat;
  background-size: 100% 100%;
  flex-direction: column;
  padding: 8% 5% 5% 5%;
  .ctrl-photos{
    flex: 1;
    height: 80%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    .ctrl-photos-box{
      position: relative;
      height: 13rem;
      width: 10rem;
      margin: 0 20px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 1px 2px 12px #191818;
      .photo-border{
        width: 100%;
        height: 100%;
        position: absolute;
      }
      img{
        width: 80%;
      }
      .add-photo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: #0E4352;
        font-weight: bold;
        .add-photo-btn{
          padding: 8px 12px;
          border: 2px solid #0E4352;
          z-index: 200;
          border-radius: 3px;
        }
      }
    }
  }
}
