html {
  font-size: 25px!important;
}
.fade.in {
  display: flex!important;
}
.fade {
  display: none!important;
}
.tp-nav {
  height: 8%;
  padding: 5px 0 5px 5px;
}
.tp-nav .tp-comeback {
  height: 100%;
  color: #01CEF9;
  line-height: 8%;
  display: inline-table;
}
.tp-nav .tp-comeback div {
  display: table-cell;
  vertical-align: middle;
}
.tp-nav .tp-comeback div img {
  width: 3rem;
  vertical-align: middle;
}
.tp-nav .tp-comeback div span {
  vertical-align: middle;
  margin-left: 1.2rem;
}
.tp-nav .tp-pagetop {
  height: 100%;
  float: right;
  color: #01CEF9;
  width: 10rem;
  background: url("../image/pagetop.png") no-repeat 0.5rem;
  background-size: 10rem auto;
}
.tp-nav .tp-pagetop div {
  text-align: right;
  display: inline-table;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.tp-nav .tp-pagetop div span {
  display: table-cell;
  vertical-align: middle;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  padding-right: 1.2rem;
}
.tp-foot {
  width: 100%;
  height: 10%;
  display: flex;
}
.tp-foot .block {
  flex: 3;
}
.tp-foot .tp-submit-box {
  flex: 2;
}
.tp-foot .tp-submit-box .tp-submit-btn {
  width: 35%;
  max-width: 220px;
  margin: 2rem auto;
  height: 3.5rem;
  background: url("../image/submit-btn.png") no-repeat;
  background-size: 100% 3.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #34C4FF;
  line-height: 3.5rem;
  text-shadow: 0px 0px 25px #01CEF9;
}
